{% extends "base.html" %}

{% block title %}
Game
{% endblock %}

{% block content %}

<style>

#board{
    border-collapse: collapse;
}

#board td{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}

</style>

<h2>Game Room</h2>

<p><strong>Room:</strong> {{ room.room_code }}</p>

<p>
    <strong>Player X:</strong>
    <a href="{% url 'player_profile' room.player1.username %}">{{ room.player1.username }}</a>
</p>

<p>
    <strong>Player O:</strong>
    <a href="{% url 'player_profile' room.player2.username %}">{{ room.player2.username }}</a>
</p>

<hr>

<h3 id="status">
    Waiting for first move...
</h3>

<table id="board">

    <tr>
        <td data-row="0" data-col="0"></td>
        <td data-row="0" data-col="1"></td>
        <td data-row="0" data-col="2"></td>
    </tr>

    <tr>
        <td data-row="1" data-col="0"></td>
        <td data-row="1" data-col="1"></td>
        <td data-row="1" data-col="2"></td>
    </tr>

    <tr>
        <td data-row="2" data-col="0"></td>
        <td data-row="2" data-col="1"></td>
        <td data-row="2" data-col="2"></td>
    </tr>

</table>





<script>

let mySymbol = "";
let currentTurn = "";
let gameFinished = false;
const roomCode = "{{ room.room_code }}";




const socket = new WebSocket(
    "ws://"
    + window.location.host
    + "/ws/game/"
    + roomCode
    + "/"
);

socket.onopen = function () {
    console.log("Connected!");
};

socket.onmessage = function(event){

    const data = JSON.parse(event.data);

    console.log(data);
    if(data.type === "game_state"){
        mySymbol = data.your_symbol;
        currentTurn = data.current_turn;

        const board = data.board;

        board.forEach((row,rowIndex)=>{

            row.forEach((cell,colIndex)=>{

                const selector =
                    '[data-row="' + rowIndex +
                    '"][data-col="' + colIndex + '"]';

                document.querySelector(selector).textContent = cell;

            });

        });

        if(data.winner){
        
            gameFinished = true;

            document.getElementById("status").textContent =
                "Winner: " + data.winner;

        }

        else{

            document.getElementById("status").textContent =
                "Current Turn: " + data.current_turn;

        }

    }
    if(data.type === "move"){

        const selector ='[data-row="' + data.row + '"][data-col="' + data.col + '"]';

        const cell = document.querySelector(selector);

        cell.textContent = data.symbol;
        currentTurn = data.next_turn;
        if(data.winner == "D"){
            gameFinished = true;
            document.getElementById("status").textContent = "Game Draw!";
        }
        else if(data.winner){
            gameFinished = true;
            document.getElementById("status").textContent = "Winner: " + data.winner;
        }
        else{
            currentTurn = data.next_turn;
            document.getElementById("status").textContent = "Current Turn: " + data.next_turn;
        }            
    }
    if(data.type === "player_disconnected"){
        document.getElementById("status").innerText=data.username + " disconnected.";
    }

};

socket.onclose = function(){
    console.log("Disconnected!");
};

const cells = document.querySelectorAll("#board td");




cells.forEach(cell => {

    cell.onclick = function(){

        if(gameFinished){
            return;
        }
        if(this.textContent !== ""){
            return;
        }

        if(mySymbol !== currentTurn){

            alert("Not your turn!");

            return;

        }

        socket.send(
            JSON.stringify({
                type: "move",
                row: this.dataset.row,
                col: this.dataset.col,
            })
        );

    };

});

</script>

{% endblock %}